{{define "content"}}

      <div class="starter-template">
        <h1>{{.PageTitle}}</h1>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Credential Name</th>
                <th>Created</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Credentials}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.VersionCreatedAt}}</td>
            <td><a class="btn btn-primary" href="/view?name={{.Name}}">View</a>
            <td><a class="btn btn-danger" href="/delete?name={{.Name}}">Delete</a>
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <p class="lead"></p>
      </div>
{{end}}
