{{define "base"}}
    <div class="modal-header">
        {{.PageTitle}}
    </div>
    <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
        <div class="panel-body">
        <div class="table-responsive fixed-table-body">
        {{range .Credentials}}
        {{range .Data}}
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Type</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.Name}}</td>
            <td>{{.ID}}</td>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
          </tr>
          <tr>
            <th class="table-dark" colspan=4>Value</th>
          </tr>
          <tr>
            <td>CA</td>
            <td class="dont-break-out" colspan=3><pre class="dont-break-out">{{.Value.CA}}</pre></td>
          </tr>
          <tr>
            <td>Certificate</td>
            <td class="dont-break-out" colspan=3><pre class="dont-break-out">{{.Value.Certificate}}</pre></td>
          </tr>
          <tr>
            <td>Private Key</td>
            <td class="dont-break-out" colspan=3><pre class="dont-break-out">{{.Value.PrivateKey}}</pre></td>
          </tr>
          </tbody>
        </table>
        {{end}}
        {{end}}
        </div>
        </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  {{end}}
