{{define "base"}}
    <div class="modal-header">
        {{.PageTitle}}
    </div>
    <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
        <div class="panel-body">
        <div class="table-responsive fixed-table-body">
          {{range .Credentials}}
          {{range .Data}}
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.Name}}</td>
            <td>
              <span class="badge badge-secondary">ID: {{.ID}}</span></br>
              <span class="badge badge-info">Created: {{.VersionCreatedAt}}</span></br>
              <span class="badge badge-primary">Type: {{.Type}}</span>
            </td>
          </tr>
          <tr>
            <th class="table-dark" colspan=2>Value</th>
          </tr>
          <tr>
            <td colspan=2 class="dont-break-out"><pre class="dont-break-out">{{.Value}}</pre></td>
          </tr>
          </tbody>
        </table>
        <hr>
        {{end}}
        {{end}}
        </div>
        </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  {{end}}
