{{define "content"}}
      <div class="starter-template">
        <h1>{{.PageTitle}}</h1>
        <div class="row">
        <div class="col-md-12">
        <div class="panel-body">
        <div class="table-responsive fixed-table-body">
          {{range .Credentials}}
          {{range .Data}}
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Type</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.Name}}</td>
            <td>{{.ID}}</td>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
          </tr>
          <tr>
            <th class="table-dark" colspan=4>Value</th>
          </tr>
          <tr>
            <td colspan=4><pre style="white-space: nowrap; overflow: hidden;">{{.Value}}</pre></td>
          </tr>
          </tbody>
        </table>
        {{end}}
        {{end}}
        </div>
        </div>
        </div>
        </div>
      </div>
{{end}}
