{{define "base"}}
    <div class="modal-header">
        {{.PageTitle}}
    </div>
    <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
        <div class="panel-body">
        <div class="table-responsive fixed-table-body">
        {{range .Credentials}}
        {{range .Data}}
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Type</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.Name}}</td>
            <td>{{.ID}}</td>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
          </tr>
          <tr>
            <th class="table-dark" colspan=4>Values</th>
          </tr>
          <tr>
            <td colspan=4 class="dont-break-out"><pre class="dont-break-out">{{ .Value }}</pre></td>
          </tr>
{{/* this would be good if it could iterate over an unknown structure some how
{{ range $key, $value := .Value }}
          <tr>
            <td>{{ $key }}</td>
            <td colspan=3 class="dont-break-out"><pre class="dont-break-out">{{ $value }}</pre></td>
          </tr>
{{ end }}
*/}}
          </tbody>
        </table>
        {{end}}
        {{end}}
        </div>
        </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  {{end}}
