{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{.PageTitle}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 5rem;
      }
      .dont-break-out {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        white-space: pre-wrap;
        overflow: hidden;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!--a class="navbar-brand" href="#">Navbar</a-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="set-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Set Credential</a>
            <div class="dropdown-menu" aria-labelledby="set-dropdown">
              <a class="dropdown-item" href="/set/value" data-url="/set/value" data-target="#generate-modal" data-toggle="modal">Value</a>
              <!--a class="dropdown-item" href="/set/json" data-url="/set/json" data-target="#generate-modal" data-toggle="modal">JSON</a-->
              <a class="dropdown-item" href="/set/password" data-url="/set/password" data-target="#generate-modal" data-toggle="modal">Password</a>
              <a class="dropdown-item" href="/set/user" data-url="/set/user" data-target="#generate-modal" data-toggle="modal">User</a>
              <a class="dropdown-item" href="/set/certificate" data-url="/set/certificate" data-target="#generate-modal" data-toggle="modal">Certificate</a>
              <!--a class="dropdown-item" href="/set/rsa" data-url="/set/rsa" data-target="#generate-modal" data-toggle="modal">RSA</a-->
              <!--a class="dropdown-item" href="/set/ssh" data-url="/set/ssh" data-target="#generate-modal" data-toggle="modal">SSH</a-->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="generate-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Generate Credential</a>
            <div class="dropdown-menu" aria-labelledby="generate-dropdown">
            <a class="dropdown-item btn-action" href="/generate/password" data-url="/generate/password" data-target="#generate-modal" data-toggle="modal">Password</a>
            <a class="dropdown-item btn-action" href="/generate/user" data-url="/generate/user" data-target="#generate-modal" data-toggle="modal">User</a>
            <a class="dropdown-item btn-action" href="/generate/certificate" data-url="/generate/certificate" data-target="#generate-modal" data-toggle="modal">Certificate</a>
            <a class="dropdown-item btn-action" href="/generate/rsa" data-url="/generate/rsa" data-target="#generate-modal" data-toggle="modal">RSA</a>
            <a class="dropdown-item btn-action" href="/generate/ssh" data-url="/generate/ssh" data-target="#generate-modal" data-toggle="modal">SSH</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
          </li>
          <li class="nav-item">&nbsp&nbsp
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/">
          <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      {{- if .Flash.Display -}}
      <div class="alert alert-{{.Flash.Type}} alert-dismissible fade show" role="alert">
        {{.Flash.Message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{- end -}}
      {{template "content" .}}
    </main><!-- /.container -->
    <div class="modal fade" id="generate-modal">
      <div class="modal-dialog">
        <div class="modal-content gen-modal">
        </div>
      </div>
    </div>
    <div class="modal fade" id="view-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content view-modal">
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script--->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function () {
      $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
      });
      $('#generate-modal').on('show.bs.modal', function(e) {
        var button = $(e.relatedTarget);
        var modal = $(this);
        // or, load content from value of data-remote url
        modal.find('.gen-modal').load(button.data("url"));
      });
      $('#view-modal').on('show.bs.modal', function(e) {
        var button = $(e.relatedTarget);
        var modal = $(this);
        // or, load content from value of data-remote url
        modal.find('.view-modal').load(button.data("url"));
      });
      $('.custom-control-input').on('change', evt => {
        var target = $(event.target);
        if (target.is('input')) {
          if(target.is(":checked") == true) {
          target.attr("checked", "checked");
          } else {
          target.attr("checked", false);
          }
        }
      });
    });
    </script>
  </body>
</html>
{{end}}
