{{define "content"}}
    <div class="container">
      <div>
        <h1>{{.PageTitle}}</h1>
      </div>
      <div>
        <table id="credentials" class="table table-bordered table-hover" style="width:100%">
        <thead class="text-white bg-dark">
          <tr>
            <th>Credential Name</th>
            <th>Created</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Credentials}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.VersionCreatedAt}}</td>
            <td><a class="btn btn-outline-info" href="/get?name={{.Name}}" data-url="/get?name={{.Name}}" data-target="#view-modal" data-toggle="modal">View</a>
            <td><a class="btn btn-outline-warning" href="/edit?name={{.Name}}" data-url="/edit?name={{.Name}}" data-target="#view-modal" data-toggle="modal">Edit</a>
            <td><a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirm-delete" data-href="/delete?name={{.Name}}">Delete</a>
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <p class="lead"></p>
      </div>
    </div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white bg-danger">
                Delete Credential?
            </div>
            <div class="modal-body">
                Are you sure?<br>
                This can't be undone!<br>
                Make sure you want to do this!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
{{end}}
