{{define "content"}}
      <div class="starter-template">
        <h1>{{.PageTitle}}</h1>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Created</th>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Data}}
          <tr>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Public Key</th>
            <th>Private Key</th>
            <th>Public Key Fingerprint</th>
          </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Data}}
          <tr>
            <td><pre style="max-width: 33em; white-space: nowrap; overflow: hidden;">{{.Value.PublicKey}}</pre></td>
            <td><pre>{{.Value.PrivateKey}}</pre></td>
            <td><pre>{{.Value.PublicKeyFingerprint}}</pre></td>
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <p class="lead"></p>
      </div>
{{end}}
