{{define "content"}}
      <div class="starter-template">
        <h1>{{.PageTitle}}</h1>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Created</th>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Data}}
          <tr>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Raw JSON</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre style="white-space: pre-wrap; overflow: hidden;">
{{ .JSONData2 }}
            </pre></td>
          </tr>
          </tbody>
        </table>
        <p class="lead"></p>
      </div>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>JSON</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre style="white-space: pre-wrap; overflow: hidden;">
{{ range $key, $value := .JSONData }}
{{ $key }}: {{ $value }}
{{ end }}
            </pre></td>
          </tr>
          </tbody>
        </table>
{{end}}
