{{define "content"}}
      <div class="starter-template">
        <h1>{{.PageTitle}}</h1>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Created</th>
            <th>ID</th>
            <th>Credential Name</th>
            <th colspan=2>Value</th>
          </tr>
        </thead>
        <tbody>
          {{range .Credentials}}
          {{range .Data}}
          <tr>
            <td>{{.Type}}</td>
            <td>{{.VersionCreatedAt}}</td>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            {{range .Value}}
            <td><pre>{{.PublicKey}}</pre></td>
            <td><pre>{{.PrivateKey}}</pre></td>
            {{end}}
          </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        <p class="lead"></p>
      </div>
{{end}}
