{{define "base"}}
    <div class="modal-header">
        Generate User and Password
    </div>
    <div class="modal-body">
      <form action="/generate/user" method="post">
        <div class="form-group">
          <label for="name" class="col-form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="/example-name" required autofocus>
        </div>
        <div class="form-group">
          <label for="username" class="col-form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="length" class="col-form-label">Length</label>
          <input type="number" class="form-control" id="length" name="length" placeholder="30">
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="exclude_upper" value="true" id="exclude_upper">
          <label class="custom-control-label" for="exclude_upper">Exclude Uppercase?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="exclude_lower" value="true" id="exclude_lower">
          <label class="custom-control-label" for="exclude_lower">Exclude Lowercase?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="exclude_number" value="true" id="exclude_number">
          <label class="custom-control-label" for="exclude_number">Exclude Numbers?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="include_special" value="true" id="include_special">
          <label class="custom-control-label" for="include_special">Include Special Characters?</label>
        </div>
        <button type="submit" class="btn btn-success">Generate</button>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
    <script>
    $(document).ready(function () {
      $('.custom-control-input').on('change', evt => {
        var target = $(event.target);
        if (target.is('input')) {
          if(target.is(":checked") == true) {
          target.attr("checked", "checked");
          } else {
          target.attr("checked", false);
          }
        }
      });
    });
    </script>
{{end}}
