{{define "base"}}
    <div class="modal-header">
        Set Certificate
    </div>
    <div class="modal-body">
      <form id="generate" action="/set/certificate" method="post">
        <div class="form-group">
          <label for="name" class="col-form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="/example-name" required autofocus>
        </div>
        <div class="form-group">
          <label for="ca" class="col-form-label">CA Certificate</label>
          <textarea class="form-control" id="ca" name="ca" placeholder="ca" required></textarea>
        </div>
        <div class="form-group">
          <label for="certificate" class="col-form-label">Certificate</label>
          <textarea class="form-control" id="certificate" name="certificate" placeholder="certificate" required></textarea>
        </div>
        <div class="form-group">
          <label for="private_key" class="col-form-label">Private Key</label>
          <textarea class="form-control" id="private_key" name="private_key" placeholder="private_key" required></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" form="generate">Set</button>
    </div>
    <script>
    $(document).ready(function () {
      $('.custom-control-input').on('change', evt => {
        var target = $(event.target);
        if (target.is('input')) {
          if(target.is(":checked") == true) {
          target.attr("checked", "checked");
          } else {
          target.attr("checked", false);
          }
        }
      });
    });
    </script>
{{end}}
